
<nav>
        <div class="site-title">
            <a href="/">
                <h1>jkhan idea</h1>
            </a>
            <p>A website for your ideas</p>
        </div>
        <ul>
            <li><a href="/">ideas</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/ideas/create">new idea</a></li>           
        </ul>
 </nav>      
     