<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %>
    
<body>
    

    <%- include('./partials/nav.ejs')  %>
    
    <div class="about-content">
        <h2>about me</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde minima error nulla dicta inventore? Molestiae tempore, corporis mollitia a iste quia ratione enim odio provident. Rem non dolor illum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde minima error nulla dicta inventore? Molestiae tempore, corporis mollitia a iste quia ratione enim odio provident. Rem non dolor illum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde minima error nulla dicta inventore? Molestiae tempore, corporis mollitia a iste quia ratione enim odio provident. Rem non dolor illum!
        </p>
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>